* {
	margin: 0px;
	box-sizing: border-box;
}

html,
body {
	/* box-sizing: border-box; */
	/* position: relative; */
	height: 100%;
	width: 100%;
	background-image: url("images/laptop-and-flower.jpg");
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-position: center;
	background-size: cover;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}

/* ======= header content ========= */

header {
	height: 5%;
	margin: 1%;
}

#highscore,
#timer {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	color: #817f9f;
	/* color: #CDC4CB; */
	font-size: 2.5vw;
	z-index: 3;
}

#highscore {
	left: 0px;
	cursor: pointer;
}

#timer {
	right: 0px;
}
/* ============================== */

/* ======= body content ========= */
main {
	width: 100%;
	height: 95%;
	padding: 20% 10% 20% 10%;
}

/* == Intro Card with Start Button ===  */
.container {
	width: 100%;
	height: 100%;
}

div .card {
	z-index: 3;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0 50px;
}

.card-title,
.card-text,
h6,
p {
	color: #f5efef;
	z-index: 3;
}

.card-title {
	font-size: 2vw;
	line-height: 1.5;
	font-family: 'Oswald', sans-serif;
}

h6 {
	font-family: 'Arimo', sans-serif;
	font-size: 2.0vw;
}

p {
	font-family: 'Arimo', sans-serif;
	font-size: 1.8vw;
	line-height: 1.5;
	cursor: pointer;
}

.btn {
	background-color: #817f9f;
	color: white;
}

.card a {
	justify-content: center;
}
